# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Octave session info
octave-workspace

# Latex Temporary Files #
#########################
report/*/*.log
report/*/*.aux
report/*/*.bbl
report/*/*.blg
report/*/*.dvi
report/*/*.out
report/*/*.synctex.gz
report/*/*.toc
report/*/*.xwm

# Mac OS strange folders #
##########################
.DS_Store
.AppleDouble
.LSOverride
._*

# Images from the simulation folders #
######################################
simulation/
